<!--
  Generated template for the LearningPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Learning</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true">

    <ion-slide *ngFor="let lesson of lessons">
      <div class="slide">
        
        <h3>{{lesson.title}}</h3>
        <p>{{lesson.description}}</p>
        <p>{{lesson.specializations.slice(1)}}</p>
        
        <iframe *ngIf="lesson.link_type == 'Video'" width="100%" height="315" [src]="lesson.trustedVideoUrl" frameborder="0" allowfullscreen></iframe>
        <img *ngIf="lesson.link_type == 'Image'" [src]="lesson.link">
        
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>