<ion-header>
  <ion-navbar id="homeNavBar" color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>NurseWorks</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <!-- <ion-icon name="options"></ion-icon> -->
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="home-page" *ngIf="!currentUser">
    <ion-card>
      <img src="assets/nurse.png" />
      <ion-card-content>
        <ion-card-title class="center">
          Please Login or Register
        </ion-card-title>
      </ion-card-content>

      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small color="primary" icon-left (click)="login()">
            <ion-icon name='key'></ion-icon>
            Login
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear small color="secondary" icon-left (click)="register()">
            <ion-icon name='create'></ion-icon>
            Register
          </button>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <div class="card-title">Learn, Earn, Grow</div>
        <div class="card-subtitle">A digital platform for nursing</div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="home-page" *ngIf="currentUser">

    <ion-card>
      <img src="assets/nurse.png" />
    </ion-card>

    <ion-card>
      <ion-card-content>
        <div class="card-title">Welcome</div>
        <div class="card-subtitle">{{currentUser.first_name}} {{currentUser.last_name}}</div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content *ngIf="currentUser.role != 'Admin'">
        <div class="card-title">Learn, Earn, Grow</div>
        <div class="card-subtitle">A digital platform for nursing</div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-list>
          <admin-menus [initData]="initData" *ngIf="currentUser.role=='Admin'"></admin-menus>
          <temp-menus [initData]="initData" *ngIf="currentUser.role=='Nurse'"></temp-menus>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>