<!--
  Generated template for the StaffingRequestsForm pemail.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pemails and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
      <ion-title>Block Booking</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
    <p *ngIf="submitAttempt" class="error-text center">Please fill out all details accurately.</p>
    
    <p class="field-hint center">
        Pick the dates you want the shifts booked for.
    </p>
    
    <ion-calendar [(ngModel)]="dateMulti"
        [options]="optionsMulti"
        [type]="type"
        [format]="'YYYY-MM-DD'">
    </ion-calendar>
    

    <ion-list wrap-text no-lines>
  
      <form [formGroup]="slideOneForm">
        

          <ion-item>
            <ion-label floating>Start Time</ion-label>
            <ion-datetime (change)="startDateChanged(date)" formControlName="start_date" displayFormat="HH:mm" [(ngModel)]="recurringRequest.start_date"
              [class.invalid]="!slideOneForm.controls.start_date.valid && (slideOneForm.controls.start_date.dirty || submitAttempt)"></ion-datetime>
          </ion-item>
    
          <ion-item *ngIf="!slideOneForm.controls.start_date.valid  && (slideOneForm.controls.start_date.dirty || submitAttempt)">
            <p class="error-text">Please enter a valid Start Time.</p>
          </ion-item>
          <p class="field-hint">
            Select the start time for the shift.
          </p>  
    
          <ion-item>
            <ion-label floating>End Time</ion-label>
            <ion-datetime formControlName="end_date" displayFormat="HH:mm" [min]="minEndDate" [max]="maxEndDate" [(ngModel)]="recurringRequest.end_date"
              [class.invalid]="!slideOneForm.controls.end_date.valid && (slideOneForm.controls.end_date.dirty || submitAttempt)"></ion-datetime>
          </ion-item>
    
          <ion-item *ngIf="!slideOneForm.controls.end_date.valid  && (slideOneForm.controls.end_date.dirty || submitAttempt)">
            <p class="error-text">Should be at least 4 hours after Start.</p>
          </ion-item>
          <p class="field-hint">
            Select the end time for the shift.
          </p>
          
          <ion-item id="hospital_id" *ngIf="current_user.sister_hospitals">
            <ion-label floating>Hospital</ion-label>
            <ion-select text-wrap name="hospital_id" [(ngModel)]="recurringRequest.hospital_id" [class.invalid]="!slideOneForm.controls.hospital_id.valid && (slideOneForm.controls.hospital_id.dirty || submitAttempt)"
              formControlName="hospital_id" class="item-select-custom">
              <ion-option  text-wrap *ngFor="let hospital of current_user.sister_hospitals" value="{{hospital.id}}">
                  {{hospital.name}}
              </ion-option>
            </ion-select>
          </ion-item>
          <p class="field-hint" *ngIf="current_user.sister_hospitals">
            Select the care home you are booking for
          </p>
  
          <ion-item id="role">
            <ion-label floating>Staff Type</ion-label>
            <ion-select name="role" [(ngModel)]="recurringRequest.role" (ionChange)="getNurses()"
                        [class.invalid]="!slideOneForm.controls.role.valid && (slideOneForm.controls.role.dirty || submitAttempt)"
              formControlName="role">
              <ion-option value="Nurse" checked="true">Nurse</ion-option>
              <ion-option value="Nurse">Nurse</ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="!slideOneForm.controls.role.valid  && (slideOneForm.controls.role.dirty || submitAttempt)">
            <p class="error-text">Please select the type of staff you need.</p>
          </ion-item>

          <p class="field-hint">
            Select the type of temp staff you need.
          </p>
    
          <ion-item id="preferred_nurse_id">
            <ion-label floating>Staff (Optional)</ion-label>
            <ion-select name="preferred_nurse_id" [(ngModel)]="recurringRequest.preferred_nurse_id" 
                        [class.invalid]="!slideOneForm.controls.preferred_nurse_id.valid && (slideOneForm.controls.preferred_nurse_id.dirty || submitAttempt)"
                        formControlName="preferred_nurse_id">
              <ion-option *ngFor="let nurse of nurses" [value] = "nurse.id">{{nurse.first_name}} {{nurse.last_name}}</ion-option> 
            </ion-select>
          </ion-item>
          <p class="field-hint">
            Select the temp staff you want for these shifts.
          </p>
    
          <ion-item>
            <ion-label floating>PO for Invoice</ion-label>
            <ion-input name="po_for_invoice" formControlName="po_for_invoice" type="text" [(ngModel)]="recurringRequest.po_for_invoice" [class.invalid]="!slideOneForm.controls.po_for_invoice.valid && (slideOneForm.controls.po_for_invoice.dirty || submitAttempt)"></ion-input>
          </ion-item>
    
          <ion-item *ngIf="!slideOneForm.controls.po_for_invoice.valid  && (slideOneForm.controls.po_for_invoice.dirty || submitAttempt)">
            <p class="error-text" text-wrap>Please enter a valid Purchase Order to be used for invoicing.</p>
          </ion-item>
    
          <p class="field-hint">
            Purchase Order to be used for invoicing
          </p>
    
          <ion-item>
            <ion-label floating>Notes</ion-label>
            <ion-textarea formControlName="notes" [(ngModel)]="recurringRequest.notes"
              [class.invalid]="!slideOneForm.controls.notes.valid && (slideOneForm.controls.notes.dirty || submitAttempt)"></ion-textarea>
          </ion-item>
    
          <p class="field-hint">
            Additional notes for the nurse
          </p>
      
        
        
      </form>
  
    </ion-list>
  
    <ion-row>
      <ion-col>
        <button ion-button full color="primary" (click)="confirmSave()">Save</button>
      </ion-col>
    </ion-row>
  </ion-content>