<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <span menuClose *ngFor="let p of pages" (click)="openPage(p)">
        
        <ion-item menuClose *ngIf="p.title != 'Divider'">
            {{p.title}}
        </ion-item>

        <ion-item-divider color="secondary" *ngIf="p.title == 'Divider'">
        </ion-item-divider>
          
      </span>


      <span *ngIf="currentUser != null">
        <ion-item menuClose ion-item (click)="logout()">
          Logout
        </ion-item>
      </span>

    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false">{{syncStatusMsg}}</ion-nav>