<ion-header>

  <ion-navbar color="primary">
    <ion-title>Shift</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card *ngIf="shift.start_signature_id == null">
      <ion-card-content>
        <div text-center>
          <div class="card-title">Start Shift</div>          
          <div class="card-subtitle">Supervisor Signature Required</div>
        </div>  
        <div>
          <ion-signaturepad [(ngModel)]="signature" [canvasWidth]="300" [canvasHeight]="300"></ion-signaturepad>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="shift.start_signature_id != null && shift.end_signature_id == null">
      <ion-card-content>
        <div text-center>
          <div class="card-title">End Shift</div>          
          <div class="card-subtitle">Supervisor Signature Required</div>
        </div>  
    
        <div>
          <ion-signaturepad [(ngModel)]="signature" [canvasWidth]="300" [canvasHeight]="300"></ion-signaturepad>
        </div>      
      </ion-card-content>
    </ion-card>


    <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

    <ion-list no-lines>

      <button ion-button full color="primary" (click)="confirmSaveSignature()">Submit</button>

    </ion-list>
    

</ion-content>